body{
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: auto; /*Disable scrollbars. Set to "scroll" to enable*/
	overflow-y: hidden;
	height: 100%; 
	max-height: 100%; 
}

#framecontentLeft{
	position: absolute; 
	top: 60px; 
	left: 0; 
	width: 64.5%; /*Width of left frame div*/
	height: 100%;
	overflow-x: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	overflow-y: auto;
	background-color: rgb(195, 232, 184);
	color: black;
}

#framecontentTop{
	position: absolute; 
	top:0px;
	left: 0px; /*Set left value to WidthOfLeftFrameDiv*/
	right: 0;
	width: auto;
	height: 60px; /*Height of top frame div*/
	overflow-x: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	overflow-y: auto;
	background-color: rgb(0, 123, 128);
	color: white;
}

#maincontent{
	position: fixed; 
	left: 64.5%; /*Set left value to WidthOfLeftFrameDiv*/
	top: 60px; /*Set top value to HeightOfTopFrameDiv*/
	right: 0;
	bottom: 0;
	overflow-x: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	overflow-y: auto; 
	background-color: rgb(176, 223, 181);
	color: black;
}

.innertube{
	margin: 15px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}

#pWeight {
    border:2px solid grey;
    background-color: white;
}
#pFlot {
    border:2px solid grey;
    background-color: white;
}
#pLevel {
    border:2px solid grey;
    background-color: white;
}
#pDisp {
    border:2px solid grey;
    background-color: white;
}
